<template>
  <div class="f1 code">
    <h1>Hello world</h1>
    <ul>
      <li v-for="user in users">
        {{user.login}}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "~/plugins/axios"

export default {
  asyncData(){
    return axios.get('users')
    .then(res => ({
      users: res.data
    }))
  }
}
</script>

<style>

</style>
